<section>
    <div class="sectionContainer">
        <div class="menuContainer">
            <div class="menuBar">
                <div class="menuItems">
                    <div class="menuWrapper newListNameWrapper">
                        <input id="newListName" type="text" placeholder="List name">
                        <img class="createNewList" src="assets\images\plusSign50x50.png" alt="Add sign">
                    </div>
                    <div class="menuWrapper newListBackgroundColorWrapper">
                        <div>New list background color:</div>
                        <input id="newListBackgroundColor" type="color">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="listsContainer">
            {{!-- This element is here for CSS reasons --}}
            <div class="cardContainer">
                <div class="cardTitle">
                    This is the list name
                </div>
                <div class="cardAddToList">
                    <input type="text" placehgitolder="Item">
                    <img class="addToList" src="assets\images\plusSign50x50.png" alt="Add sign">
                </div>
                <div class="cardListContainer">
                    <ul class="cardList">
                        <li class="listItem">
                            <span class="checkbox"><input type="checkbox"></span>
                            <span class="listItemDescription">Card Item 1</span>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</section>